.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
#!.vscode/*.code-snippets
obj/
bin/Debug/net6.0

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix